In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [2]:
data=pd.read_excel('National_Carbon_Emissions_2021v0.4.xlsx', sheet_name='Territorial Emissions', \
                  skiprows=11)

In [3]:
data=pd.read_csv('../NYC_Wi-Fi_Hotspot_Locations.csv')

In [4]:
data.head()

,OBJECTID,Borough,Type,Provider,Name,Location,Latitude,Longitude,X,Y,...,Neighborhood Tabulation Area (NTA),Council Distrcit,Postcode,BoroCD,Census Tract,BCTCB2010,BIN,BBL,DOITT_ID,"Location (Lat, Long)"
0,10604,4,Limited Free,SPECTRUM,Baisley Pond Park,Park Perimeter,40.674860,-73.784120,1.044132e+06,185219.892077,...,Springfield Gardens North,28,11434,412,294,294,0,0,1408,"(40.6748599999, -73.7841200005)"
1,10555,4,Limited Free,SPECTRUM,Kissena Park,Park Perimeter,40.747560,-73.818150,1.034638e+06,211685.217755,...,Flushing,20,11355,407,845,845,0,0,1359,"(40.7475599996, -73.8181499997)"
2,12370,3,Free,Transit Wireless,Grand St (L),Grand St (L),40.711926,-73.940670,1.000698e+06,198655.908840,...,East Williamsburg,34,11206,301,495,495,0,0,1699,"(40.7119259997, -73.9406699994)"
3,9893,3,Free,Downtown Brooklyn,NaN,125 Court St.,40.689985,-73.991995,9.864700e+05,190656.680416,...,Brooklyn Heights-Cobble Hill,33,11201,302,9,9,3388736,3002777501,298,"(40.6899850001, -73.9919950004)"
4,10169,1,Free,Transit Wireless,Lexington Av-63 St (F),Lexington Av-63 St (F),40.764630,-73.966115,9.936366e+05,217853.888161,...,Upper East Side-Carnegie Hill,4,10065,108,120,120,0,0,599,"(40.7646300002, -73.9661150001)"

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3319 entries, 0 to 3318
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   OBJECTID                                     3319 non-null   int64
 1   Borough                                      3319 non-null   int64
 2   Type                                         3319 non-null   object
 3   Provider                                     3319 non-null   object
 4   Name                                         3089 non-null   object
 5   Location                                     3319 non-null   object
 6   Latitude                                     3319 non-null   float64
 7   Longitude                                    3319 non-null   float64
 8   X                                            3319 non-null   float64
 9   Y                                            3319 non-null   float64
 10  Location_T                                   3319 non-null   object
 11  Remarks                                      2771 non-null   object
 12  City                                         3319 non-null   object
 13  SSID                                         3319 non-null   object
 14  SourceID                                     2257 non-null   object
 15  Activated                                    3319 non-null   object
 16  BoroCode                                     3319 non-null   int64
 17  Borough Name                                 3319 non-null   object
 18  Neighborhood Tabulation Area Code (NTACODE)  3319 non-null   object
 19  Neighborhood Tabulation Area (NTA)           3319 non-null   object
 20  Council Distrcit                             3319 non-null   int64
 21  Postcode                                     3319 non-null   int64
 22  BoroCD                                       3319 non-null   int64
 23  Census Tract                                 3319 non-null   int64
 24  BCTCB2010                                    3319 non-null   int64
 25  BIN                                          3319 non-null   int64
 26  BBL                                          3319 non-null   int64
 27  DOITT_ID                                     3319 non-null   int64
 28  Location (Lat, Long)                         3319 non-null   object
dtypes: float64(4), int64(11), object(14)
memory usage: 752.1+ KB

### 1

In [6]:
data.Provider

0                   SPECTRUM
1                   SPECTRUM
2           Transit Wireless
3          Downtown Brooklyn
4           Transit Wireless
                ...
3314                SPECTRUM
3315    LinkNYC - Citybridge
3316    LinkNYC - Citybridge
3317    LinkNYC - Citybridge
3318    LinkNYC - Citybridge
Name: Provider, Length: 3319, dtype: object

In [7]:
data.Provider.unique()

array(['SPECTRUM', 'Transit Wireless', 'Downtown Brooklyn', 'Harlem',
       'BPL', 'ALTICEUSA', 'Fiberless', 'LinkNYC - Citybridge',
       'Manhattan Down Alliance', 'AT&T', 'NYPL', 'NYCHA', 'Chelsea',
       'QPL', 'City Tech', 'Spot On Networks', 'Partner'], dtype=object)

In [8]:
#Answer1
print('unique providers: ', data.Provider.unique().shape)

unique providers:  (17,)

### 2.

In [9]:
mask=data.City=='Bronx'

In [10]:
#data[mask][['Provider', 'City']]

In [11]:
data.Provider[mask].unique()

array(['ALTICEUSA', 'LinkNYC - Citybridge', 'NYPL', 'Transit Wireless',
       'AT&T'], dtype=object)

In [12]:
#Answer 2
data.Provider[mask].value_counts();
print('Second most WiFi hotspots in Bronx: ', data.Provider[mask].value_counts()[1])

Second most WiFi hotspots in Bronx:  120

### 3.

In [13]:
data.Location.value_counts().head(10)

Park Perimeter                  42
Along Boardwalk and Beach       15
300 Jay Street                  11
333 Adams St.                    8
110 Livingston St.               7
North area off Richmond Terr     6
Outdoor - Park Area              6
Park Area                        5
Along Promenade                  5
490 Fulton St.                   5
Name: Location, dtype: int64

In [14]:
match=[]
for i in data.Location:
    match.append(bool(re.findall('Park *',i)))
no_of_hotspot_park=match.count(True)
print(no_of_hotspot_park)

119

In [15]:
#Answer 3
print('Fraction of WiFi hotspots in parks: ', '{:.2f}'.format(no_of_hotspot_park/data.Location.count()))

Fraction of WiFi hotspots in parks:  0.04

### 4.

In [16]:
data.Location_T.value_counts().head(10)

Outdoor Kiosk                          1867
Outdoor                                 699
Subway Station                          276
Library                                 214
Indoor                                  126
Outdoor TWC Aerial                      121
Indoor AP - North Maintenance Area        3
Indoor AP - South Maintenance Area        3
Indoor AP - North Management Office       2
Indoor AP - South Management Office       2
Name: Location_T, dtype: int64

In [17]:
data.Type.describe()

count     3319
unique       3
top       Free
freq      2736
Name: Type, dtype: object

#### including library

In [18]:
data.Type.value_counts()

Free            2736
Limited Free     581
Partner Site       2
Name: Type, dtype: int64

#### excluding library

In [19]:
data.Type[data.Location_T!='Library'].value_counts()

Free            2522
Limited Free     581
Partner Site       2
Name: Type, dtype: int64

In [20]:
data.Type.count()

3319

#### probability

In [21]:
#Answer 4
print('p = ', '{:.2f}'.format(data.Type[data.Location_T!='Library'].value_counts()[0]/data.Type.count()))

p =  0.76

### 5.

In [22]:
data['Neighborhood Tabulation Area (NTA)'].describe()

count                      3319
unique                      179
top       Midtown-Midtown South
freq                        160
Name: Neighborhood Tabulation Area (NTA), dtype: object

In [23]:
mask=data['Neighborhood Tabulation Area (NTA)'].value_counts() > 30

In [24]:
location_name=data['Neighborhood Tabulation Area (NTA)'].value_counts()[mask]

In [25]:
location_name

Midtown-Midtown South                               160
Hudson Yards-Chelsea-Flatiron-Union Square          156
Upper West Side                                     143
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill    125
Turtle Bay-East Midtown                             111
Central Harlem North-Polo Grounds                   101
Murray Hill-Kips Bay                                 82
Central Harlem South                                 69
East Harlem North                                    65
Hamilton Heights                                     63
SoHo-TriBeCa-Civic Center-Little Italy               58
East Village                                         58
Astoria                                              54
Upper East Side-Carnegie Hill                        54
Hunters Point-Sunnyside-West Maspeth                 52
Battery Park City-Lower Manhattan                    52
Lincoln Square                                       52
Lenox Hill-Roosevelt Island                          52
Gramercy                                             51
West Village                                         49
Washington Heights South                             48
Clinton                                              46
Fort Greene                                          46
Crown Heights North                                  44
Morningside Heights                                  42
Mott Haven-Port Morris                               41
North Side-South Side                                40
West Concourse                                       40
Elmhurst                                             39
Park Slope-Gowanus                                   35
park-cemetery-etc-Bronx                              34
Seagate-Coney Island                                 32
Name: Neighborhood Tabulation Area (NTA), dtype: int64

In [26]:
census=pd.read_csv('../Census_Demographics_at_the_Neighborhood_Tabulation_Area__NTA__level.csv')

In [27]:
census.head()

,Geographic Area - Borough,Geographic Area - 2010 Census FIPS County Code,Geographic Area - Neighborhood Tabulation Area (NTA)* Code,Geographic Area - Neighborhood Tabulation Area (NTA)* Name,Total Population 2000 Number,Total Population 2010 Number,Total Population Change 2000-2010 Number,Total Population Change 2000-2010 Percent
0,Bronx,5.0,BX01,Claremont-Bathgate,28149.0,31078.0,2929.0,10.4
1,Bronx,5.0,BX03,Eastchester-Edenwald-Baychester,35422.0,34517.0,-905.0,-2.6
2,Bronx,5.0,BX05,Bedford Park-Fordham North,55329.0,54415.0,-914.0,-1.7
3,Bronx,5.0,BX06,Belmont,25967.0,27378.0,1411.0,5.4
4,Bronx,5.0,BX07,Bronxdale,34309.0,35538.0,1229.0,3.6

In [28]:
census[['Geographic Area - Neighborhood Tabulation Area (NTA)* Name','Total Population 2000 Number']]

,Geographic Area - Neighborhood Tabulation Area (NTA)* Name,Total Population 2000 Number
0,Claremont-Bathgate,28149.0
1,Eastchester-Edenwald-Baychester,35422.0
2,Bedford Park-Fordham North,55329.0
3,Belmont,25967.0
4,Bronxdale,34309.0
...,...,...
192,Arden Heights,24996.0
193,Great Kills,41680.0
194,park-cemetery-etc-Staten Island,7.0
195,NaN,NaN
196,NaN,NaN

In [29]:
census[census['Geographic Area - Neighborhood Tabulation Area (NTA)* Name']== 'Astoria']

,Geographic Area - Borough,Geographic Area - 2010 Census FIPS County Code,Geographic Area - Neighborhood Tabulation Area (NTA)* Code,Geographic Area - Neighborhood Tabulation Area (NTA)* Name,Total Population 2000 Number,Total Population 2010 Number,Total Population Change 2000-2010 Number,Total Population Change 2000-2010 Percent
170,Queens,81.0,QN70,Astoria,89122.0,78793.0,-10329.0,-11.6

### 6.

In [30]:
numerator=data.Activated[data['Activated']!='09/09/9999'].describe()
numerator

count           1822
unique           415
top       07/19/2016
freq              23
Name: Activated, dtype: object

In [31]:
data.Activated[(data.Activated > '07/18/2016') & (data.Activated < '07/24/2016')].value_counts()

07/19/2016    23
07/21/2016    19
07/20/2017    13
07/20/2016    11
07/19/2017     7
07/19/2018     5
07/21/2017     3
07/18/2017     2
Name: Activated, dtype: int64

#### Fraction of activations took place in Tuesday

In [32]:
#Answer 6
print('Fraction = ', '{:.2f}'.format(numerator[3]/60))

Fraction =  0.38